<!DOCTYPE html>
<html lang="en">

<head>
    <title>Socks Panel</title>
    <script src="/app.js" defer></script>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/nav'); %>

        <div class="container-fluid">
            <div class="row">
                <%- include('./partials/left-nav')%>

                    <div class="col-md-9 pad-top-10">
                        <ul class="breadcrumb">
                            <li>
                                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                            </li>
                            <li>History Locations</li>
                        </ul>

                        <!--Popular-->
                        <div class="panel panel-default">
                            <div class="panel-heading">History Locations</div>
                            <div class="panel-content">
                                <table id="dtable" class="table">
                                    <tr>
                                        <td>
                                            <span class="label label-info">
                                                id
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                Model
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                Arrival
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                Departure
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                Coordinates
                                            </span>
                                        </td>
                                    </tr>
                                    <% history.forEach(location=> { %>

                                        <tr>
                                            <td>
                                                <span class="label label-info">
                                                    <%= location.id%>
                                                </span><br>
                                                <div class="buttons"
                                                    style="display: flex; justify-content: center; gap: 4px; font-size: small;">
                                                    <a href="/edit/history/<%= location.id%>">edit</a>
                                                    <a style="cursor: pointer;"
                                                        onclick="deleteItem('history', '<%= history.id%>', event)">delete</a>
                                                </div>
                                            </td>
                                            <td>
                                                <span>
                                                    <%= location.model %>
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <%= location.arrival_date.toISOString().split('T')[0].split('-').reverse().join('/')
                                                        %>
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <%= location.departure_date.toISOString().split('T')[0].split('-').reverse().join('/')
                                                        %>
                                                </span>
                                            </td>
                                            <td>
                                                <a href="/locations?id=<%= location.location_id %>">
                                                    <%= location.lon + ',' + location.lat %>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="/socks?id=<%= location.sock_id%>">
                                                    View sock
                                                </a>
                                            </td>
                                        </tr>

                                        <% })%>
                                            <% if (pages!=1) {%>
                                                <tr style="border-top: none;">
                                                    <td colspan="2" style="border-top: none;">
                                                        <ul class="pagination">
                                                            <% Array(pages).fill(1).forEach((_,i)=>{ %>
                                                                <% if (i+1==curr_page){ %>
                                                                    <li class="active"><a href="">
                                                                            <%= i+1%>
                                                                        </a></li>

                                                                    <% } else{ %>
                                                                        <li><a href="/history?page=<%= i+1%>">
                                                                                <%= i+1%>
                                                                            </a></li>
                                                                        <%}})%>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <% } %>
                                </table>
                            </div>
                        </div>
                        <!--End Popular-->
                    </div>
            </div>
        </div>
</body>

</html>