<!DOCTYPE html>
<html lang="en">

<head>
    <title>Socks Panel</title>
    <script src="/app.js" defer></script>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/nav'); %>

        <div class="container-fluid">
            <div class="row">
                <%- include('./partials/left-nav')%>

                    <div class="col-md-9 pad-top-10">
                        <!-- <div class="alert alert-info">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Maxime repudiandae aliquid perspiciatis unde officiis ab!
                            Saepe, ipsum eum aliquam inventore temporibus alias quam,
                            blanditiis ea consectetur! Laudantium nobis, dignissimos
                            sunt?
                        </p>
                    </div> -->

                        <ul class="breadcrumb">
                            <li>
                                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                            </li>
                            <li>Socks</li>
                        </ul>

                        <!--Popular-->
                        <div class="panel panel-default">
                            <div class="panel-heading">Socks</div>
                            <div class="panel-content">
                                <table id="dtable" class="table">
                                    <tr>
                                        <td>
                                            <span class="label label-info">
                                                id
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                Model
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                quantity
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                size
                                            </span>
                                        </td>
                                        <td>
                                            manufacture year
                                        </td>
                                        <td>
                                            <span>
                                                coordinates
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                base name
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                officer name
                                            </span>
                                        </td>
                                    </tr>
                                    <% socks.forEach(sock=> { %>

                                        <tr>
                                            <td>
                                                <span class="label label-info">
                                                    <%= sock.id%>
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <%= sock.model %>
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <%= sock.quantity %>
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <%= sock.size %>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-calendar"></span>
                                                <%= sock.manufacturing_year.toISOString().split('-')[0] %>
                                            </td>
                                            <td>
                                                <span>
                                                    <%= sock.lat +','+sock.lon %>
                                                </span>
                                            </td>
                                            <td>
                                                <a href="/locations?id=<%= sock.location_id%>">
                                                    <%= sock.base_name %>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/officers?id=<%= sock.officer_id%>">
                                                    <%= sock.name %>
                                                </a>
                                            </td>
                                        </tr>

                                        <% })%>
                                            <!-- <tr>
                                        <td>
                                            <span class="label label-info">12</span>
                                            <a href="#">Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit.</a>
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            01.13.16
                                        </td>
                                    </tr> -->

                                            <tr>
                                                <td colspan="2">
                                                    <ul class="pagination">
                                                        <% Array(pages).fill(1).forEach((_,i)=>{ %>
                                                            <% if (i+1==curr_page){ %>
                                                                <li class="active"><a href="">
                                                                        <%= i+1%>
                                                                    </a></li>

                                                                <% } else{ %>
                                                                    <li><a href="/socks?page=<%= i+1%>">
                                                                            <%= i+1%>
                                                                        </a></li>
                                                                    <%}})%>
                                                    </ul>
                                                </td>
                                            </tr>
                                </table>
                            </div>
                        </div>
                        <!--End Popular-->
                    </div>
            </div>
        </div>
</body>

</html>